html {
    font-size: 32px;
}

.paddingEm {
    font-size: 20px;
    padding: 4em; /* 20px * 4 = 80px*/
    border: 2px solid;
}

.paddingRem {
    /* font-size: 20px; */
    padding: 1rem; /* 12px * 2 = 24px*/
    border: 2px solid;
}

@media screen and (max-width:500px){
    html {
        font-size: 16px;
    }
    
}