a {
    color: blue;
}

.txtNegro {
    color: red;
}

div a {
    color: orange;
}

div input {
    background-color: aqua;
}

div .titulo {
    font-size: 2rem;
    text-align: center;
}

div .subtitulo {
    font-size: 1.3rem;
    text-align: center;
}

div .texto {
    font-size: 1rem;
    text-align: left;
    background-color: lightgray;
}

.presentacion .titulo {
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    margin: 1rem;
}

.presentacion .subTitulo {
    font-size: 1.1rem;
    text-align: center;
    
    margin: .5rem;
}

.cursos .titulo {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.cursos .texto {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
}